@import "tailwindcss";

@font-face {
  font-family: 'Pricedown';
  src: url('../fonts/pricedown.otf') format('truetype');
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Pricedown';
  background-color: #000000;
  color: #ffffff;
  overflow-x: hidden;
}